* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  color: #fff;
  font-size: 20px;
  overflow-x: hidden;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-image: url('https://images01.military.com/sites/default/files/styles/full/public/2021-04/chucknorris.jpeg.jpg');
  background-size: 100% 100%;
}
